.contact_form {
	padding: 33px 122px 34px 122px;
}

.inputs{
	width: 48%;
	margin-bottom: 15px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.contact_form label {
	display: block;
	font-size: 14px;
	color: rgb(114, 112, 112);
	line-height: 1.2;
	margin-bottom: 7px;
	cursor: pointer;
}
.contact_form input{ 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	padding-left: 8px;
	height: 42px;
	width: 100%;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	border:1px solid rgb(214, 213, 211);
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e7e7', GradientType=0 )";
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}

.no-cssgradients .contact_form input{
	padding: 12px 8px 5px 8px;
}
*::-webkit-input-placeholder{
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
}
*:-moz-placeholder{
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
}
*:-ms-input-placeholder {
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
	padding-top: 2px;
}
.contact_form textarea{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	padding: 12px 9px 12px 9px;
	line-height: 1.2;
	height: 185px;
	width: 100%;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	margin-bottom: 13px;
	border: 1px solid rgb(214, 213, 211);
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e7e7', GradientType=0 )";
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}
.antispam{
	float: left;
	width: 190px;
	height: 77px;
	position: relative;
	border: 1px solid rgb(214, 213, 211);
	-webkit-border-radius: 4px;
			border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
	margin-bottom: 33px;
}
.antispam:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 189px;
	height: 77px;
	display: block;
	background-image: url(../images/captcha.png);
	background-position: center;
	overflow: hidden;
}
.captcha{
	width: 48%;
	margin-top: 21px;
	float: right;
}
input[type="captcha"]{
	padding-left: 8px;
	line-height: 1;
	font-size: 12px;
	height: 32px;
}
.no-cssgradients input[type="captcha"]{
	padding-top: 9px;
}
.buttons{
	margin-left: 30px;
	display: inline-block;
	width: 344px;
}
.contact_form button {
	position: relative;
	font-size: 14px;
	font-family: "OpenSansSemiBold";
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
	width: 123px;
	height: 38px;
	-webkit-border-radius: 5px;
			border-radius: 5px;
}
button[type="submit"]{
	color: rgb(30, 116, 101);
	border: 1px solid #3fa78a;
	border-top: 1px solid #6adbbc;
	background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80e8cb', endColorstr='#43b796', GradientType=0 )";		
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
	float: left;		
}
button[type="submit"]:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fdcbd', endColorstr='#3aa087', GradientType=0 )";
}
button[type="reset"]{
	color: rgb(114, 112, 112);	
	border: 1px solid #bbbbbb;
	border-top: 1px solid #d2d2d2;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e6e4', GradientType=0 )";
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
       -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	 		box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);			
	float: right;
}
button[type="reset"]:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e7e7', endColorstr='#c2c0c0', GradientType=0 )";
}
.contact_form input:focus, .contact_form textarea:focus {
	border:1px solid rgb(72, 203, 232); 
	color: rgb(114, 112, 112);
}
textarea{
	resize:none;
}
