.contact_form {
	position: relative;
	width: 403px;
	margin: -6px auto;
}
.form__block {
	position: relative;
  margin-bottom: 100px;
}

.contact_form .inputs{
	display: block;
	width: 48%;
	margin-bottom: 15px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.contact_form label {
	display: block;
	font-size: 14px;
	color: rgb(114, 112, 112);
	line-height: 1.2;
	margin-bottom: 7px;
	cursor: pointer;
}
.contact_form input{ 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	padding-left: 8px;
	height: 42px;
	width: 100%;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	border:1px solid rgb(214, 213, 211);
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e7e7', GradientType=0 )";
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}

.no-cssgradients .contact_form input{
	padding: 12px 8px 5px 8px;
}
.contact_form::-webkit-input-placeholder{
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
}
.contact_form:-moz-placeholder{
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
}
.contact_form:-ms-input-placeholder {
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(199, 198, 198);
	line-height: 1.2;
	text-align: left;
	padding-top: 2px;
}
.contact_form textarea{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative; 
	display: block;
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	padding: 12px 9px 12px 9px;
	line-height: 1.2;
	height: 185px;
	width: 100%;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	margin-bottom: 13px;
	border: 1px solid rgb(214, 213, 211);
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e7e7', GradientType=0 )";
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}

.contact_form .has_error{
	position: relative;
	border: 2px solid #e0ad9a;
		-webkit-border-radius: 4px;
			border-radius: 4px;
}
.error{
	position: relative;
}
.error:before{
	border: 1px solid rgb(211,118,84);
		-webkit-border-radius: 4px;
			border-radius: 4px;
	background-color: rgb(211,118,84);
	background-image: -moz-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	background-image: -webkit-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	background-image: -ms-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3a287', endColorstr='#d37654', GradientType=0 )";
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	position: absolute;
	padding: 6px;
	color: rgb(154, 78, 50);
	line-height: 1;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
	height: 12px;
	font-family: "OpenSansSemiBold";
	font-size: 12px;
	content: "";
	z-index: 2;
}

.inputs.left .error:before{
	top: 9px;
	left: -103px;
	content: "введите имя";
}
.inputs.left .error:after{
	position: absolute;
	left: -13px;
	top: 16px;
	content: "";
	border: 7px solid transparent;
	border-left-color: rgb(211,118,84);  
    border-right: 0;
}

.inputs.right .error:before{
	right: -110px;
	top: 9px;
	content: "введите email";
}
.inputs.right .error:after{
	position: absolute;
	right: -6%;
	top: 16px;
	content: "";
	border: 7px solid transparent;
	border-right-color: rgb(211,118,84);  
    border-left: 0;
}
.input_message .error:before{
	left: -98px;
	top: 72px;
	content: "ваш вопрос";
}
.input_message .error:after{
	position: absolute;
	left: -13px;
	top: 78px;
	content: "";
	border: 7px solid transparent;
	border-left-color: rgb(211,118,84);  
    border-right: 0;
}

.contact_form .has_succes{
	border: 2px solid #51c5a8;
		-webkit-border-radius: 3px;
			border-radius: 3px;
}


input[type="captcha"]{
	padding-left: 8px;
	line-height: 1;
	font-size: 12px;
	height: 32px;
}
.no-cssgradients input[type="captcha"]{
	padding-top: 9px;
}
.contact_form .buttons{
	display: inline-block;
	margin-top: 30px;
	width: 100%;
}
.contact_form button {
	margin: 0 30px;
	position: relative;
	font-size: 14px;
	font-family: "OpenSansSemiBold";
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
	width: 123px;
	padding-top: 8px;
	padding-bottom: 8px;
	-webkit-border-radius: 5px;
			border-radius: 5px;
}
.contact_form button[type="submit"]{
	color: rgb(30, 116, 101);
	border: 1px solid #3fa78a;
	border-top: 1px solid #6adbbc;
	background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80e8cb', endColorstr='#43b796', GradientType=0 )";		
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
	float: left;
	cursor: pointer;		
}
.contact_form button[type="submit"]:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fdcbd', endColorstr='#3aa087', GradientType=0 )";
}
button[type="reset"]{
	color: rgb(114, 112, 112);	
	border: 1px solid #bbbbbb;
	border-top: 1px solid #d2d2d2;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e6e4', GradientType=0 )";
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
       -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	 		box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);			
	float: right;
	cursor: pointer;
}
button[type="reset"]:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e7e7', endColorstr='#c2c0c0', GradientType=0 )";
}
.contact_form input:focus, .contact_form textarea:focus {
	border:1px solid rgb(72, 203, 232); 
	color: rgb(114, 112, 112);
}

.g-recaptcha .error{
	display: none;
}
textarea{
	resize:none;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px){
.contact_form {
	padding: 2.5% 2% 0 0;
}
.captcha{
	width: 191px;
	max-width: 52%;
}

}
/*     Adaptiv    */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 551px) {
.contact_form {
	position: relative;
	width: 280px;
	margin: 0 auto;
	padding: 0 3% 0 0;
}
.form__block {
	position: relative;
  	margin-bottom: 100px;
}
.contact_form .inputs{
	width: 100%;
	margin-bottom: 10px;
}
.contact_form label {
	font-size: 16px;
}
.contact_form textarea{
	height: 136px;
	margin-bottom: 11px;
}
.antispam{
	width: 141px;
	height: 68px;
	margin-bottom: 55px;
}
.antispam:before{
	width: 141px;
	height: 68px;
}
.captcha{
	width: 45%;
}

.contact_form button {
	margin: 0 0;
}
}
@media only screen and (max-width : 380px) {
.contact_form {
	position: relative;
	width: 250px;
	margin: 0 auto;
	padding: 0 3% 0 0;
}

.antispam{
	width: 121px;
	height: 68px;
	margin-bottom: 35px;
}
.antispam:before{
	width: 121px;
	height: 68px;
}
.captcha{
	width: 45%;
}
.contact_form button {
	margin: 0 0;
	width: 100px;
}
}
@media only screen and (max-width : 320px) {
.contact_form {
	position: relative;
	width: 235px;
	margin: 0 auto;
	padding: 0 3% 0 0;
}
.form__block {
	position: relative;
  	margin-bottom: 100px;
}
.inputs{
	width: 100%;
	margin-bottom: 10px;
}
.contact_form label {
	font-size: 16px;
}
.contact_form textarea{
	height: 136px;
	margin-bottom: 11px;
}
.antispam{
	width: 121px;
	height: 68px;
	margin-bottom: 35px;
}
.antispam:before{
	width: 121px;
	height: 68px;
}
.captcha{
	width: 40%;
}

}