.wrapper{
	background: url(../images/bg.jpg) repeat-x;
}
.org{
	padding: none;
	border-top: 1px solid #dbdbda;
	border-bottom: none;
}
.org:first-child {
	border-top: none;
}
.org:before{
	position: absolute;
	top: 32%;
	left: 1px;
	background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    width: 54px;
    height: 55px;
    background-position: -70px -5px;
}
.work{
	margin-top: 5px;
}
.icon_work{
	position: absolute;
	top: 52%;
	left: 17px;
	-ms-transform: translateY(-50%); 
}
.icon_school{
	position: absolute;
	top: 45%;
	left: 18px;
	-ms-transform: translateY(-50%);
}
.icon_vus{
	position: absolute;
	top: 55%;
	left: 14px;
	-ms-transform: translateY(-50%);
}
.icon_course{
	position: absolute;
	top: 50%;
	left: 20px;
	-ms-transform: translateY(-50%);
}


.socials_item{
	background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 44px;
    background-position: -182px -5px;
}

.icon_fb {
	position: absolute;
	top: 11px;
	left: 16px;
}

.icon_git {
	position: absolute;
	top: 11px;
	left: 7px;
}

.icon_tw {
	position: absolute;
	top: 13px;
	left: 9px;
}
.icon_vk {
	position: absolute;
	top: 13px;
	left: 14px;
}

.photo_project img:hover{
    filter: alpha(Opacity=65);
    opacity: 0.65;
}
.op{
	display: none;
	width:100%;
    height:100%;
    position:fixed;
    top:0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";    
    background: rgb(0,0,0);
}
.b-popup .b-popup-content{
	top: 20%;
	left: 40%;
}

.lk{
	top: 30%;
	left: 40%;
}
.add_project_form input[type="file"]{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}