.lk{
	position: absolute;
	top: 50%;
	left: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.text_auth{
	width: 332px;
	font-size: 12px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	line-height: 1.2;
	text-align: left;
	margin-left: 22px;
	margin-bottom: 5px;
	
}
.form_auth{
	background-image: none;
}
.auth{
	padding: 40px 38px 38px 38px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	border: 1px solid #b6b6b6;
	border-top: 1px solid #d2d2d2;
	width: 332px;
	height: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, #f0eeed 0%, #ffffff 100%);
	background-image: -webkit-linear-gradient( 90deg, #f0eeed 0%, #ffffff 100%);
	background-image: -ms-linear-gradient( 90deg, #f0eeed 0%, #ffffff 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eeed',GradientType=0 )";
	box-shadow: 0 11px 27px 0 rgba(159, 159, 159, 0.75),inset 0 6px 6px 0 rgba(255, 255, 255, 0.004);
}
.form_auth input[type="text"]{ 
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 12px;
	padding-left: 69px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	height: 40px;
	width: 100%;
	line-height: 0.9;
	-webkit-border-radius: 4px;
			border-radius: 4px;
	border:1px solid rgb(214, 213, 211);
/*	border:1px solid rgb(72, 203, 232);*/
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e7e7', GradientType=0 )";*/
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	margin-bottom: 25px;
}
.form_auth .inputs{
	position: relative;
	background-image: none;
}
.form_auth .error:before, .form_auth .error:after{
	display: none;
}
.form_auth .inputs:after{
	content: " ";
	left: 43px;
	position: absolute;
	top: 0;
    width: 11px;
    height: 40px;
    background-position: -20px -792px;
}

.im_mail:before{
	content: '';
	position: absolute;
	top: 13px;
	left: 13px;
    width: 23px;
    height: 17px;
    background-position: -30px -726px;
    z-index: 2;
}

.im_pass:before{
	content: '';
	position: absolute;
	top: 11px;
	left: 14px;
    width: 22px;
    height: 20px;
    background-position: -33px -619px;
    z-index: 2;
}

.form_auth .buttons{
	position: relative;
	margin-left: 54px;
}
.form_auth button[type="submit"]{
	cursor: pointer;
	position: relative;
	font-size: 14px;
	font-family: "OpenSansSemiBold";
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
	width: 151px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	color: rgb(30, 116, 101);
	border: 1px solid #3fa78a;
	border-top: 1px solid #6adbbc;
	background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80e8cb', endColorstr='#43b796', GradientType=0 )";		
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16);

}
.form_auth button[type="submit"]:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fdcbd', endColorstr='#3aa087', GradientType=0 )";
}

.checkbox_input {
	margin-bottom: 20px;
	margin-top: -6px;
}
.checkbox {
	vertical-align: top;
	margin: -3px 3px 0 0;
	width: 17px;
	height: 17px;
	display: inline-block;
}
.checkbox + label {
	background-image: none;
	display: inline-block;
	cursor: pointer;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative; 
	padding-left: 26px;
	background-image: none;
	font-size: 14px;
	font-family: "OpenSansRegular";
	color: rgb(115, 113, 113);
	line-height: 1.2;
}
.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 14px;
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);

}

.checkbox:checked + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	background-position: -40px -324px; 
	width: 9px; 
	height: 8px; 
	transition: all .2s; 
}

@media only screen and (max-width: 768px){
.lk{
	left: 30%;
}
}

@media only screen and (max-width: 630px){
.lk{
	left: 25%;
}
}

@media only screen and (max-width: 551px){
.lk{
	left: 20%;
}
}

@media only screen and (max-width: 480px){
.lk{
	left: 8%;
	width: 90%;
}

.text_auth{
	width: 400px;
	max-width: 95%;
	font-size: 16px;
	margin-left: 27px;
	margin-top: 18px;
}
.form_auth{
	background-image: none;
}
.auth{
	padding: 47px 46px 44px 46px;
	width: 95%;

}
.form_auth input[type="text"]{ 
	font-size: 14px;
	padding-left: 84px;
	height: 49px;
	line-height: 2;
	margin-bottom: 29px;
}

.form_auth .inputs:after{
	left: 52px;
	background-position: -39px -770px; 
	width: 14px; 
	height: 49px;
}

.im_mail:before{
	top: 16px;
	left: 17px;
	background-position: -3px -596px; 
	width: 27px; 
	height: 20px;
}

.im_pass:before{
	top: 16px;
	left: 19px;
	background-position: -3px -669px; 
	width: 25px; 
	height: 23px;
}

.form_auth .buttons{
	position: relative;
	margin-left: 22%;
}
.form_auth button[type="submit"]{
	font-size: 16px;
	width: 183px;
	padding-top: 11px;
	padding-bottom: 13px;
	-webkit-border-radius: 7px;
			border-radius: 7px;
}
.checkbox_input {
	margin-bottom: 26px;
	margin-top: -5px;
}
.checkbox:not(checked) + label {
	padding-left: 33px;
	font-size: 16px;
}
.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 19px;
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

.checkbox:checked + label:after {
	top: 4px;
	left: 4px;
	background-position: -35px -526px; 
	width: 13px; 
	height: 10px; 
}
}

@media only screen and (max-width: 420px){
.lk{
	left: 8%;
	width: 90%;
}

.form_auth .buttons{
	position: relative;
	margin-left: 18%;
}
.form_auth button[type="submit"]{
	font-size: 16px;
	width: 163px;
	padding-top: 11px;
	padding-bottom: 13px;
	-webkit-border-radius: 7px;
			border-radius: 7px;
}

}