html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}

html, body {
	max-width: 100%;
	height: 100%;
}

body{
	font-family: "OpenSansRegular", Arial, sans-serif;
	font-size: 88%;
}
header{
	position: relative;
    background: url(../images/bg-head.png) repeat-x;
	height: 90px;
	border-bottom: 7px solid #fff;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.wrapper{
	background: url(../images/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    		background-size: cover;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.header_container{
	width: 90%;	
	max-width: 1204px;	
	margin: 0 auto;
}
.header{
	margin-bottom: 35px;
}
.logo_img {
	display: block;
	float: left;
	width: 95px;
	height: 72px;
	margin: 10px;
	cursor: pointer;
}
.logo_text{
	position: absolute;
	top: 0;
	white-space: nowrap;
	left: -9999px;
	overflow: hidden;
}

.socials{
	position: relative;
	margin-top: 26px;
	float: right;
}
.socials_item{
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	white-space: nowrap;
	text-indent: -9999px;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.31),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.icon, 
.icon:before, 
.icon:after {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon_fb {
	position: absolute;
	top: 9px;
	left: 14px;
	cursor: pointer;
    width: 10px;
    height: 22px;
    background-position: -38px -58px;
}
.icon_fb:hover {
    background-position: -134px -58px;
}
.icon_git {
	position: absolute;
	top: 9px;
	left: 5px;
    cursor: pointer;
    width: 29px;
    height: 23px;
    background-position: -58px -89px;
}

.icon_git:hover {
    background-position: -5px -90px;
}
.icon_tw {
	position: absolute;
	top: 9px;
	left: 7px;
    cursor: pointer;    
    width: 24px;
    height: 18px;
    background-position: -182px -91px;
}
.icon_tw:hover {
    background-position: -97px -119px;
}
.icon_vk {
	position: absolute;
	top: 10px;
	left: 12px;
    cursor: pointer;
    width: 15px;
    height: 19px;
    background-position: -207px -59px;
}

.icon_vk:hover {
    background-position: -182px -151px;
}
.content{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}
.sidebar {
	float: left;
	width: 250px;
	max-width: 27%;
}
.soc2{
	display: none;
}
.nav{
	margin-bottom: 35px;
}
.navigation{
	position: relative;
	display: block;
	font-family: "OpenSansSemiBold";
	text-decoration: none;
	padding: 16px 27px 17px 27px;
	font-size: 20px;
	color: rgb(114, 112, 112);
	line-height: 1.1;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);  
	background: -webkit-linear-gradient(#ffffff 0%, #e9e6e5 100%);
	background: -moz-linear-gradient(#ffffff 0%, #e9e6e5 100%);
	background: -o-linear-gradient(#ffffff 0%, #e9e6e5 100%);
	background: -ms-linear-gradient(#ffffff 0%, #e9e6e5 100%);
	background: linear-gradient(#ffffff 0%, #e9e6e5 100%); 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e6e5', GradientType=0 )"; 
	border: 1px solid #c5c5c5;
	border-top: none;
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.nav_list:last-child .navigation{
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}
.nav_list:first-child .navigation{
	border-top: 1px solid #c5c5c5;
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
}

.navigation:hover{ 
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c2c0c0', GradientType=0 )"; 
	-webkit-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	   -moz-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
			box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}
.active{
	color: #1e7465;
	border: 1px solid #40ab91;
	border-top: 1px solid #66dbbe;
	line-height: 1.1;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
	background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee8ce', endColorstr='#3eb799',GradientType=0 )"; 
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.active:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee8ce', endColorstr='#3eb799',GradientType=0 )"; 
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.contacts{
	margin-bottom: 35px;
}
.contacts_title{
	-webkit-border-radius: 4px 4px 0 0;	   
	   -moz-border-radius: 4px 4px 0 0;
	    	border-radius: 4px 4px 0 0;	   
	background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cc7e', endColorstr='#dcb15d',GradientType=0 )"; 
	border: 1px solid #cca14e;
	border-top: 1px solid #e7bf6f;
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	   -moz-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
			box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	color: rgb(208, 152, 44);
	font-family: "OpenSansSemiBold";
	font-size: 20px;
	padding: 10px 26px 10px 26px;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.contacts li{
	position: relative;
	overflow: hidden;
	height: 37px;
}

.contacts a:after{
	content: " ";
	left: 48px;
	position: absolute;
	top: 0;
    width: 10px;
    height: 37px;
    background-position: -50px -5px;

}

.contacts a{
	position: relative;
	display: block;
	text-decoration: none;
	padding: 6px 14px 8px 97px;
	overflow: hidden;
	text-overflow:ellipsis;
	font-size: 13px;
	color: #888787;
	line-height: 2;
	text-align: left;
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f3f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f3f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f4f3f2 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f3f2', endColorstr='#ffffff',GradientType=0 )";
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
 	border: 1px solid #d6d5d3;
 	border-top: none;
 	cursor: pointer;	
}
.gmail_cont:before{
	content: '';
	position: absolute;
	top: 12px;
	left: 18px;
    width: 17px;
    height: 13px;
    background-position: -155px -35px;
}
.tel_cont:before{
	content: '';
	position: absolute;
	top: 8px;
	left: 18px;		
    width: 17px;
    height: 22px;
    background-position: -180px -59px;
}
.skype_cont:before{
	content: '';
	position: absolute;
	top: 10px;
	left: 18px;
    width: 20px;
    height: 20px;
    background-position: -140px -153px;
}
.contacts li:last-child{
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

.contacts li a:hover{
	text-decoration: underline;
	background-color: #fff;
	background-image: -moz-linear-gradient( 90deg, rgba(224,197,145, 0.5) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(224,197,145, 0.5) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(224,197,145, 0.5) 0%, rgba(251,249,249,0) 100%);
	-ms-filter:" progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e7d2',GradientType=0 )";
	-webkit-box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	   -moz-box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
			box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}
.tr3{
	display: none;
}
.content_area{
	float: right;
	width: 651px;
	max-width: 67.9%;
}
.information{
	display: block;
	margin-bottom: 35px;
	background-color: #f5f4f3;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.08), inset 0 1px 6px rgba(255,255,255,.45);
	   -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,.08), inset 0 1px 6px rgba(255,255,255,.45);
			box-shadow: 0 4px 10px 0 rgba(0,0,0,.08), inset 0 1px 6px rgba(255,255,255,.45);
	border: solid 1px #c3c2c2;
	background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.09) 0%, rgba(255,255,255,.5) 100%);	
	background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,.09) 0%, rgba(255,255,255,.5) 100%);	
	background-image: -ms-linear-gradient(90deg, rgba(0,0,0,.09) 0%, rgba(255,255,255,.5) 100%);	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eeed',GradientType=0 )";
	-webkit-border-radius: 5px;
	   -moz-border-radius:  5px;
	   		border-radius:  5px;
}
.main_line{
	font-size: 24px;
	font-family: "OpenSansSemiBold";
	color: #eeedec;
	text-align: left;
	text-shadow: 0 1px 0 rgba(102, 101, 101, 0.4);
	background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a7', endColorstr='#7c7a7a',GradientType=0 )";
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	   -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	padding: 12px 41px 17px 41px;
	border: 1px solid #636363;
	border-top: 1px solid #9c9c9c;
	-webkit-border-radius: 5px 5px 0 0;
	   -moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
}

.main_information {
	padding: 6% 6% 5% 6.5%;
}
.photo{
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	border: 1px solid #cfcecd;
	background-color: #f4f2f1;
	-webkit-box-shadow: 3px 2px 27px 5px rgba(236, 232, 227, 0.75),inset 0 2px 24px 0 rgba(121, 121, 121, 0.23);
	   -moz-box-shadow: 3px 2px 27px 5px rgba(236, 232, 227, 0.75),inset 0 2px 24px 0 rgba(121, 121, 121, 0.23);
			box-shadow: 3px 2px 27px 5px rgba(236, 232, 227, 0.75),inset 0 2px 24px 0 rgba(121, 121, 121, 0.23);
}

.inner_photo{
 	position: absolute;
 	left: 9px;
 	top: 9px;
 	height: 132px;
 	width: 132px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;		
			border-radius: 50%;		
}
.info{
	margin-top: -6px;
	width: 377px;
	line-height: 1.8;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 31px;
}
.info_name{
	vertical-align: top;
	max-width: 170px;
	display: inline-block;
	font-family: "OpenSansSemiBold";
}
.info_more{
	vertical-align: top;
	display: inline-block;
	width: 215px;
	max-width: 56%;
	margin-left: 3px;
}

.navyki{
	margin-top: 9px;
	display: inline-block;
	vertical-align: top;
	font-family: "OpenSansSemiBold";
}
.skills{
	margin-top: 9px;
	display: inline-block;
	width: 240px;
	margin-left: -5px;
}
.skill{
	display: inline-block;
	margin-left: 22px;
	padding-right: 7px;
	position: relative;
	line-height: 2.8;
	background: url(../images/skill2.png) repeat-x;
	text-transform: uppercase;
	font-size: 9px;
	font-family: "OpenSansBold";
	color: #1e7465;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}
.skill:before{
	content: '';
	margin-left: -15px;
	position: absolute;
	top: 0;
	left: 0;
    width: 15px;
    height: 25px;
    background-position: -97px -148px;
}
.skill:after{
	content: '';
	margin-right: -5px;
	position: absolute;
	top: 0;
	right: 0;
    width: 8px;
    height: 25px;
    background-position: -122px -148px;
}
.education {
	margin-top: -20px;
	margin-bottom: -14px;
}
.org:last-child {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
	border-bottom: none;
}
.org{
	position: relative;
	color: rgb(114, 112, 112);
	padding: 27px 0 24px 0;
	line-height: 1.4;
	text-align: left;
	border-bottom: 1px solid #dbdbda;
	background-image: none;	
	-webkit-box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
			box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
}
.org:before{
	content: "";
	position: absolute;
	top: 51%;
	left: 0;
	background-image: none;	
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
	   -moz-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
			box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
	width: 54px;
	height: 54px;
}
.work{
	display: inline-block;
	margin-left: 97px;
}
.data{
	display: block;
	line-height: 1.7;
}
.icon_work{
    width: 22px;
    height: 20px;
    background-position: -134px -5px;
	position: absolute;
	top: 51%;
	left: 17px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);    
}
.icon_school{
    width: 22px;
    height: 22px;
    background-position: -65px -148px;
	position: absolute;
	top: 51%;
	left: 18px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon_vus{
    width: 28px;
    height: 19px;
    background-position: -97px -90px;
	position: absolute;
	top: 53%;
	left: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon_course{
    width: 16px;
    height: 21px;
    background-position: -154px -58px;
	position: absolute;
	top: 53%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


.empty{
	height: 63px;
}
.footer{
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 )";
	-webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	height: 62px;
	margin-top: -62px;
	position: relative;
}
.footer_container{
	width: 960px;
	max-width: 90%;	
	margin: 20px auto;
	font-size: 12px;
	line-height: 1.9;		
}
.footer_container a{
	text-decoration: none;		
}
.footer_text{
	margin-left: 98px;
	font-family: "OpenSansLight";
	color: rgb(114, 112, 112);
	display: block;
	float: right;
	width: 70%;
	margin-top: -17px;
	line-height: 1.4;
	text-align: left;
}

.enter {
	text-decoration: none;
    margin-left: 167px;
	display: inline-block;
    width: 24px;
    height: 22px;
    background-position: -5px -148px;
    cursor: pointer;
}

.enter:hover{
    width: 24px;
    height: 22px;
    background-position: -182px -119px;
}
.enter_text{
	display: inline-block;
	margin-left: 29px;
    text-transform: uppercase;
	cursor: pointer;
	font-family: "OpenSansBold", "OpenSansSemiBold", Arial;	
	color: #9c9c9c;
	text-align: left;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}
/***********   end Footer  **************/

/*     Adaptiv    */
@media (min-width: 926px) and (max-width: 1025px){
.content_area{
	max-width: 72%;
}
.info{
	font-size: 13px;
	max-width: 63%;
	margin-left: 5.4%;
}
.skills{
	margin-right: -50px;
}
}

@media (min-width: 769px) and (max-width: 925px){
.sidebar {
	float: left;
	max-width: 23%;
}	
.content_area{
	float: right;
	max-width: 72%;
}
.contacts a{
	padding: 6px 1px 8px 52px;
	font-size: 12px;
}
.contacts a:after{
	left: 35px;
}
.gmail_cont:before{
	left: 11px;
}
.tel_cont:before{
	left: 11px;		
}
.skype_cont:before{
	left: 11px;
}
.navigation{
	font-size: 17px;
	padding: 15px 12px 15px 12px;
}
.info{
	font-size: 13px;
	max-width: 61%;
	margin-left: 4%;
}
.info_more{
	margin-right: -20px;
}
.skills{
	max-width: 54%;
}
.footer_container{
	max-width: 90%;
}
.footer_text{
	margin-left: 20%;
}

.enter {
    margin-left: 15%;
}
.captcha{
	max-width: 46%;
}
.antispam{
	max-width: 150px;
}
.antispam:before{
	max-width: 150px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px){
header{
	height: 67px;
	border-bottom: 4px solid #fff;
}
.header_container{
	width: 95%;	
}
.skills{
	max-width: 70%;
	margin-right: -10%;
	margin-bottom: -4px;
}
.information{
	margin-bottom: 3.6%;
}
.main_information{
	padding-bottom: 4%;
}
.photo{
	margin-top: -6px;

}
.info{
	max-width: 66%;
	margin-top: -15px;
}
.info_more{
	max-width: 70%;
}
.header{
	margin-bottom: 2.8%;
}
.logo_img img{
	max-width: 65px;
	max-height: auto;
}

.socials{
	margin-top: 16px;
	float: right;
}
.socials_item{
	margin-left: 11px;
	width: 37px;
	height: 37px;
}
.nav_icon{
	position: relative;
	background-image: url('../images/menu.png');
	width: 25px;
	height: 21px;
	margin: 24px 11px 0 30px;
	display: block;
	float: right;
	cursor: pointer;
	z-index: 3;	
}
.content_area{
	float: none;
	margin: 0 auto;
	width: 642px;
	max-width: 90%;
}
.main_line{
	padding: 6px 41px 10px 41px;
	font-style: 23px;
}
.education {
	margin-top: -31px;
}
.footer_text{
	margin-left: 18.7%;
}

.enter {
    margin-left: 2%;
}
.footer_container{
	max-width: 95%;	
	margin: 6px auto;
}
.empty{
	height: 40px;
}
.footer{
	height: 39px;
	margin-top: -39px;
}
.enter_text{
	margin-left: 28px;
	font-size: 12px;
}
.nav_list{
	display: none;
}
.nav{
	position: absolute;
	top: 64px;
	right: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(17, 17, 17, 0.07),inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05);
	   -moz-box-shadow: 3px 3px 3px 0 rgba(17, 17, 17, 0.07),inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05);
			box-shadow: 3px 3px 3px 0 rgba(17, 17, 17, 0.07),inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05);
	z-index: 2;
}

.navigation{
	width: 165px;
	position: relative;
	display: block;
	font-family: "OpenSansSemiBold";
	text-decoration: none;
	padding: 13px 15px 13px 15px;
	font-size: 16px;
}
.tr3{
	display: block;
}
.tr3:after {
    content: ''; 
    position: absolute; 
    right: 24px; 
    top: -29px; 
    border: 12px solid transparent; 
    border-bottom: 20px solid #e3e3e4; 
    z-index: -2;
}

.contacts{
	position: relative;
	width: 648px;
	max-width: 87%;
	position: absolute;
	bottom: 78px;
	left: 7.3%;
	margin-bottom: 0;
}
.contacts_title{
	display: none;
}
.contacts li{
	position: relative;
	display: inline-block;
	height: 37px;
	width: 33%;
	max-width: 214px;
	margin-left: -6px;
	border-left: 1px solid #d7d6d5;
}
.last{
	margin-bottom: 119px;
}

.contacts a{
	position: relative;
	padding: 6px 14px 8px 78px;	
}
.contacts li:first-child{
	border-right: 1px solid #d7d6d5;
	margin-left: 0;
}
.contacts li:last-child{
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	border-right: 1px solid #d7d6d5;
	margin-left: -5px;
}
.footer_text{
	margin-left: 98px;
	margin-top: 3px;
}
}
/*     Adaptiv    */
/* Small Devices, Tablets */
@media only screen and (max-width: 600px){

.skills{
	max-width: 60%;
	margin-right: -10%;
	margin-bottom: -4px;
}
.information{
	margin-bottom: 3.6%;
}
.main_information{
	padding-bottom: 4%;
}
.photo{
	margin-top: -6px;
}
.info{
	margin-left: 15px;
	max-width: 60%;
	margin-top: -15px;
	font-size: 13px;
}
.info_more{
	max-width: 60%;
}
.header{
	margin-bottom: 4%;
}

.last{
	margin-bottom: 119px;
}

.contacts a{
	position: relative;
	padding: 6px 5px 8px 45px;	
}
.gmail_cont:before{
	left: 7px;
}
.tel_cont:before{
	top: 9px;
	left: 7px;		
}
.skype_cont:before{
	left: 7px;
}
.contacts a:after{
	left: 16%;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
header{
	height: 65px;
	border-bottom: 4px solid #fff;
}
.header_container{
	width: 95%;	
}
.header{
	margin-bottom: 4.5%;
}
.socials{
	display: none;
}
.logo_img img{
	margin-top: -4px;
	max-width: 80px;
	max-height: auto;
	margin-left: 10px;
}
.skills{
	max-width: 60%;
	margin-right: -10%;
	margin-bottom: -4px;
}
.information{
	width: 398px;
	max-width: 103%;
	margin-left:1.5%;
	margin-bottom: 5.6%;
}
.main_information{
	padding: 4% 3% 4% 4.5%;
}
.main_line{
	padding: 6px 10% 10px 10%;
	text-align: center;
}
.content_area{
	float: none;
	margin: 0 auto;
	width: 400px;
	max-width: 90%;
}
.photo{
	margin-left: 29%;
	margin-top: 4px;
}

.info{
	max-width: 100%;
	font-size: 16px;
	margin-top: 7px;
	margin-left: 0;
	line-height: 1.6;
}
.info_more{
	max-width: 53%;
	margin-right: -20px;
}
.education {
	margin-right: 5px;
	margin-top: -15px;
	margin-bottom: -14px;
}
.org:last-child {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
	border-bottom: none;
}
.org{
	margin: 0 auto;
	position: relative;
	color: rgb(114, 112, 112);
	padding: 39px 0 15px 0;
	line-height: 1.3;
	text-align: center;
	border-bottom: 1px solid #dbdbda;
	background-image: none;	
	-webkit-box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
			box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.95), 0 1px 0 0 rgba(0, 0, 0, 0.35);
}
.org:before{
	content: "";
	position: absolute;
	top: 18px;
	left: 50%;
	background-image: none;	
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
	   -moz-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
			box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.8),inset 1px 1px 1px 0 rgba(199, 199, 199, 0.85);
	width: 78px;
	height: 78px;
}
.work{
	width: 100%;
	margin: 0 auto;
	margin-top: 69px;
}
.bold{
	font-size: 114%;
	font-family: "OpenSansSemiBold";
}
.data{
	line-height: 1.4;
}
.icon_work{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
    width: 31px;
    height: 29px;
    background-position: -5px -55px;
	position: absolute;
	top: 44px;
	left: 50.5%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);   
}
.icon_school{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
    width: 27px;
    height: 27px;
    background-position: -5px -102px;
	position: absolute;
	top: 44px;
	left: 50.5%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);  
}
.icon_vus{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
    width: 39px;
    height: 26px;
    background-position: -77px -89px;
	position: absolute;
	top: 46px;
	left: 50.5%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);  
}
.icon_course{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 28px;
    background-position: -46px -89px;
	position: absolute;
	top: 45px;
	left: 50.5%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);  
}
.footer_text{
	margin-left: 28%;
	font-size: 8px;
}
.enter {
    margin-left: 6.4%;
}
.enter_text{
	margin-left: 27px;
}

.nav_list{
	display: none;
}
.nav{
	top: 71px;
	right: 0;
}
.navigation{
	width: 250px;
	padding: 18px 15px 22px 24px;
	font-size: 24px;
}
.tr3:after {
	right: 18px;
    top: -40px; 
    border: 18px solid transparent; 
    border-bottom: 25px solid #e3e3e4; 
}
.last{
	margin-bottom: 177px;
}
.contacts{
	position: relative;
	width: 398px;
	max-width: 90%;
	position: absolute;
	bottom: 138px;
	margin-left: 1.3%;
}

.contacts li{
	display: block;
	height: 47px;
	width: 100%;
	max-width: 400px;
	margin: 0;
	border-right: 1px solid #d7d6d5;	
}
.contacts a:after{
	left: 23%;
	top: 0;
    width: 14px;
    height: 48px;
	background-image: url(../images/str_mob.png);
	background-position: 0 0;
	z-index: 2;
}
.gmail_cont:before{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
	content: '';
	position: absolute;
	top: 30%;
	left: 9%;
    width: 32px;
    height: 24px;
    background-position: -125px -55px;
}
.tel_cont:before{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
	content: '';
	position: absolute;
	top: 20%;
	left: 10%;	
    width: 24px;
    height: 32px;
    background-position: -170px -102px;
}
.skype_cont:before{
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
	content: '';
	position: absolute;
	top: 29%;
	left: 9%;
    width: 28px;
    height: 28px;
    background-position: -132px -102px;
}

.contacts a{
	padding: 0 14px 0 133px;	
	font-size: 24px;
}
.contacts li:first-child{
	margin: 0;

}
.contacts li:last-child{
	margin: 0;
}

.socials2{
	position: relative;
	padding: 0 9% 0 9%;	
}
.soc2{
	display: block;
	height: 82px;

}
.socials_item2{
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin-left: 23px;
	white-space: nowrap;
	text-indent: -9999px;
	border-radius: 50%;
	width: 67px;
	height: 67px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.31),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.icon_mob, 
.icon_mob:before, 
.icon_mob:after {
	background-image: url(../images/spritesheet_mob.png);
	background-repeat: no-repeat;
    display: block;
}

.icon_mob_fb {
	position: absolute;
	top: 23%;
	left: 36%;
	cursor: pointer;
    width: 19px;
    height: 40px;
    background-position: -125px -5px;
}
.icon_mob_fb:hover {
    background-position: -206px -57px;
}
.icon_mob_git {
	position: absolute;
	top: 23%;
	left: 13%;
    cursor: pointer;
    width: 55px;
    height: 42px;
    background-position: -60px -5px;
}

.icon_mob_git:hover {
    background-position: -167px -5px;
}
.icon_mob_tw {
	position: absolute;
	top: 23%;
	left: 18%;
    cursor: pointer;    
    width: 45px;
    height: 33px;
    background-position: -5px -5px;
}
.icon_mob_tw:hover {
    background-position: -77px -125px;
}
.icon_mob_vk {
	position: absolute;
	top: 26%;
	left: 31%;
    cursor: pointer;
    width: 29px;
    height: 35px;
    background-image:url(../images/vk_mob.png);
}

.icon_mob_vk:hover {
	background-image: url(../images/spritesheet_mob.png);
    width: 29px;
    height: 35px;	
    background-position: -167px -57px;
}
}

/* Custom, Retina */
@media only screen and (max-width : 380px) {
.information{
	max-width: 100%;
	margin-left: 0;
}
.photo{
	margin-left: 25%;
}
.info{
	font-size: 14px;
}
.footer_container {
    max-width: 100%;
}
.footer_text{
	display: block;
	float: right;
	width: 70%;
	font-size: 8px;
}
.enter {
    margin-left: 2%;
}
.enter_text{
	margin-left: 23px;
}

.last{
	margin-bottom: 177px;
}
.contacts{
	max-width: 84%;
}

.contacts li{
	height: 44px;
}
.contacts a:after{
	left: 18%;
    height: 44px;
	background-position: 0 -2px;
}
.gmail_cont:before{
	top: 25%;
	left: 5%;
}
.tel_cont:before{
	top: 21%;
	left: 7%;	
}
.skype_cont:before{
	top: 25%;
	left: 6%;
}
.contacts a{
	padding: 0 14px 0 88px;	
	font-size: 22px;
}


.socials2{
	position: relative;
	padding: 0 3% 0 3%;	
}

.socials_item2{
	width: 57px;
	height: 57px;
	margin-left: 22px;
}
.icon_mob_fb {
	top: 20%;
	left: 36%;
}
.icon_mob_git {
	top: 20%;
	left: 4%;
}
.icon_mob_tw {
	top: 20%;
	left: 16%;
}
.icon_mob_vk {
	top: 23%;
	left: 28%;
}


}

@media only screen and (max-width : 320px) {
.photo{
	margin-left: 17%;
}
.info{
	font-size: 12px;
}
.main_line{
	font-size: 22px;
	padding: 4% 1% 4% 1%;
}
.navigation{
	width: 180px;
	padding: 12px 18px 12px 15px;
	font-size: 20px;
}
.bold{
	font-size: 100%;
}
.data{
	font-size: 12px;
	line-height: 2;
}
.org:before{
	width: 68px;
	height: 68px;
}
.work{
	margin-top: 55px;
}

.icon_work{
	top: 38px;
}
.icon_school{
	top: 38px;
}
.icon_vus{
	top: 40px;
}
.icon_course{
	top: 39px;
}

.footer_text{
	display: block;
	float: right;
	width: 70%;
	font-size: 8px;
	margin-top: -17px;
	line-height: 1.4;
	text-align: center;
}
.enter {
	display: inline-block;
    margin-left: 2%;
}
.enter_text{
	margin-left: 23px;
}

.last{
	margin-bottom: 177px;
}


.contacts li{
	height: 42px;

}
.contacts a:after{
	left: 18%;
    height: 42px;
	background-position: 0 -3px;
}
.gmail_cont:before{
	top: 25%;
	left: 5%;
}
.tel_cont:before{
	top: 21%;
	left: 7%;	
}
.skype_cont:before{
	top: 25%;
	left: 6%;
}
.contacts a{
	padding: 3px 14px 3px 75px;	
	font-size: 18px;
}

.socials_item2{
	width: 53px;
	height: 53px;
	margin-left: 14px;
}
.icon_mob_fb {
	top: 15%;
	left: 32%;
}
.icon_mob_git {
	top: 13%;
	left: 0;
}
.icon_mob_tw {
	top: 20%;
	left: 11%;
}
.icon_mob_vk {
	top: 17%;
	left: 25%;
}


}
/*     Adaptiv    */

